# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
# заполняем медийным значением пропуски в total_income — данных о доходах в соотвествии к типу занятости income_type
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
# все отрицательные значения  в столбце days_employed (трудовой стаж в днях) заменяем положительными 
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
# для каждого типа занятости выводим медианное значение трудового стажа
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
# выводим перечень уникальных значений столбца children
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
# удаляем строки в которых количество детей имеет аномальное значение
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
# Заполняем пропуски в столбце days_employed (трудовой стаж в днях) медианными значениями по каждого типа занятости income_type
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
# повторная проверка пропусков
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
# делаем значения в столбеце с ежемесячным доходом целыми 
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
# приводим все значения в столбце с уровнем образования к нижнему регистру
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
# удаляем строки дубликаты
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
# функция для назначения категории в зависимости от размера ежемесячного дохода
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
# создание нового столбца с категориями
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
# функция для создания четырех категорий операций
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:

children_pivot_table = pd.pivot_table(data, index=['children'], values = 'debt', aggfunc = [sum, len])

children_pivot_table['procent'] = children_pivot_table['sum'] * 100/ children_pivot_table['len'] 

display(children_pivot_table)

           sum    len   procent
          debt   debt
children
0         1063  14091  7.543822
1          444   4808  9.234609
2          194   2052  9.454191
3           27    330  8.181818
4            4     41  9.756098
5            0      9  0.000000

**Вывод:** Получилось у тех, кто не имеет детей процент невозврата кредита самый маленький. Дальше анализ сводим к категориям, где самые большие выборки. Из их анализа следует, что с количеством детей растет процент невозврата кредита.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
status_pivot_table = pd.pivot_table(data, index=['family_status_id'], values = 'debt', aggfunc = [sum, len])

status_pivot_table['procent'] = status_pivot_table['sum'] * 100/ status_pivot_table['len'] 

display(status_pivot_table)

                  sum    len   procent
                 debt   debt
family_status_id
0                 927  12261  7.560558
1                 385   4134  9.313014
2                  63    951  6.624606
3                  84   1189  7.064760
4                 273   2796  9.763948

 **Вывод:** Самый маленький процент невозврата у вдовцов, потом у тех, кто в разводе. Самый большой процент невозврата у тех, кто никогда не состоял в браке. Вывод: заемщики состоящие или состоявшие в браке реже допускают просрочку.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
# Разбиваем уровень дохода на пять категорий. Находим процент невозврата кредита по категориям.
def categorize_income(categorize):
    if categorize<= 30000:
        return 5
    if categorize<= 50000:
        return 4
    if categorize<= 200000:
        return 3
    if categorize<= 1000000:
        return 2
    return 1
data['total_income'] = data['total_income'].astype('int')
data['total_income_category'] = data['total_income'].apply(categorize_income)
income_pivot_table = pd.pivot_table(data, index=['total_income_category'], values = 'debt', aggfunc = [sum,len])

income_pivot_table['procent'] = income_pivot_table['sum'] * 100/ income_pivot_table['len'] 

display(income_pivot_table)

                        sum    len   procent
                       debt   debt
total_income_category
1                         2     25  8.000000
2                       354   5014  7.060231
3                      1353  15921  8.498210
4                        21    349  6.017192
5                         2     22  9.090909

**Вывод:** Для сравнения подходят две самые многочисленные выборки с доходом от 200 тыс. руб. до 1 мил. и с доходом от 50 тыс. руб. до 200 тыс. Больший процент невозврата у кого доход меньше, это и логично, кто меньше зарабатывает, у того и вероятность невозврата больше.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
# Распределяем цели кредитов на четыре категории с помощью функции. Находим процент невозврата кредита.
def categorize_purpose(str_purpose):
    if 'автомобил' in str_purpose:
        return 'операции с автомобилем'
    if 'свадьб' in str_purpose:
        return 'проведение свадьбы'
    if 'образован' in str_purpose:
        return 'получение образования'
    if 'жиль' in str_purpose:
        return 'операции с недвижимостью'
    if 'недвижимост' in str_purpose:
        return 'операции с недвижимостью'
    return 'не определена'
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
purpose_data_pivot = pd.pivot_table(data, index=['purpose_category'], values = 'debt', aggfunc = [sum, len])

purpose_data_pivot['procent'] = purpose_data_pivot['sum'] * 100/ purpose_data_pivot['len'] 

display(purpose_data_pivot)

                          sum    len   procent
                         debt   debt
purpose_category
операции с автомобилем    400   4279  9.347978
операции с недвижимостью  780  10751  7.255139
получение образования     369   3988  9.252758
проведение свадьбы        183   2313  7.911803

**Вывод:** Самый низкий процент невозврата кредита у категории с операциями с недвижимостью, здесь же и самое большое количество кредитов, самый высокий процент невозврата на операциях с автомобилем. Количество кредитов  у трех категорий почти лежат рядом, т.е. я считаю можно сравнивать такие данные. Мой вывод, что есть зависимость от цели кредита на его возврат.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Причинами появления пропусков в данных могут быть ошибки при выгрузке данных, т.е сбои и неправильная их запись, а также человеческий фактор. К человеческому фактору можно отнести такие причины: нежелание оставлять свои данные, игнорирование полей ввода информации и просто ошибки ввода.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медийные значения не реагируют на выбросы из общий последовательности данных, отображают более достоверную информацию о характеристике последовательности значений.

### Шаг 4: общий вывод.

Напишите ваш общий вывод. 
Для анализа данных была предоставлена база, нуждающася в доработке для ответа на поставленные задачи. Были проанализированы данные на пропуски в значениях. Эти пропуски были в столбцах с трудовым стажем и ежемесячным доходом. Для достоверности заключений пропуски в ежемесячном доходе были заменены на медийные значения в зависимости от типа занятости. Также была проведена проверка на дубликаты в столбце с уровнем образования, эти данные привели к единому виду для анализа. Строки-дубликаты удалили. Данные с ежемесячным доходом и целью получения кредита были разбыта по категориям для наглядности выводов. 
По данным рекомендация: просить заемщиков не пропускать пункты при заполнении анкет.
Основные выводы исследования: 
1. Есть зависимость между количеством детей и возвратом кредита в срок. У заемщиков без детей процент возврата кредита выше, с количеством детей процент невозврата немного увеличивается.
2. Заемщики состоящие или состоявшие в браке реже допускают просрочку.
3. Возврат кредита напрямую зависит от уровня дохода.
4. Самые рискованные цели для кредита связаны с оперциями с автомобилем и получением образования, менее рискованные с недвижимостью и проведением свадьбы.
Спасибо за обращение решения ваших задач в нашу компанию!
И спасибо, Евгения!